{% extends "base.html" %}

{% block title %}Редактирование профиля{% endblock %}


{% block content %}

<form class="inline-block" , action="{{ url_for('admin_blueprint.admin_page') }}" method="post" id="table-block">
    <div class="search">
        <input type="text" id="search" class="info-input" placeholder="Поиск" name="search">
        <button type="submit" class="btn-submit">Поиск</button>
    </div>

    <div class="block" id="panel">
        <div class="shops-title">
            <div class="shops-label"><b>Админ панель</b></div>
            <h3><a href="{{ url_for('admin_blueprint.add_new_users') }}">Ручная регистрация новых пользователей</a></h3>
        </div>
        <div class="table-title">
            <div class="field"><b>ID</b></div>
            <div class="field"><b>Почта</b></div>
            <div class="field"><b>Тип аккаунта</b></div>
            <div class="field"><b>Количество запросов</b></div>
            <div class="field"><b>Статус аккаунта</b></div>
        </div>
        <div class="table" id="panel-table">
            {% for user_1, req_1 in zip(users, reqs) %}
            <div class="table-row">

                <div class="field">{{ user_1.id }}</div>
                <a class="field" href="{{ url_for('admin_blueprint.admin_page_user', user_id=user_1.id) }}">{{
                    user_1.email}}</a>

                <div class="field">{{ user_1.account_type }}</div>
                <div class="field">{{ req_1.request_count }}</div>
                {% if user_1.is_account_active %}
                <div class="field">Активен</div>
                {% else %}
                <div class="field">Отключен</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}