<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Id пользователя: {{ user_id }} <br> Дата отчета: {{ report_data }} </p>

    {% if ".json" not in report_data %}
        <table border="1">
            <tr>
                <th>JSON файлы</th>
                <th>CSV, TXT, LOG файлы</th>
                <th>ZIP файлы</th>
                <th>XLSX файлы</th>
                <th>Папки</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".json" in item %}
                                <li>{{ item }} <a href="{{ url_for('admin_blueprint.report_log' , user_id=user_id, report_data=report_data + '*' + item) }}">Открыть файл</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".csv" in item or ".txt" in item or ".log" in item %}
                                <li>{{ item }} <a href="{{ url_to_API }}/download-any-file/{{ admin_key }}/{{ user_id + '*' + report_data + '*' + item }}">Скачать</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".zip" in item %}
                                <li>{{ item }} <a href="{{ url_to_API }}/download-any-file/{{ admin_key }}/{{ user_id + '*' + report_data + '*' + item }}">Скачать</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".xlsx" in item %}
                                <li>{{ item }} <a href="{{ url_to_API }}/download-any-file/{{ admin_key }}/{{ user_id + '*' + report_data + '*' + item }}">Скачать</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".json" not in item and ".csv" not in item and ".txt" not in item and ".log" not in item and ".zip" not in item and ".xlsx" not in item %}
                                <li>{{ item }} <a href="{{ url_for('admin_blueprint.report_log' , user_id=user_id, report_data=report_data + '*' + item) }}">Открыть</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    {% elif ".json" in report_data %}
    {{data}}
    {% endif %}
</body>


</html>