<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Id пользователя: {{ user_id }} <br> Дата отчета: {{ report_data }} </p>

    {% if ".json" not in report_data %}
        <table border="1">
            <tr>
                <th>JSON файлы</th>
                <th>CSV, TXT, LOG файлы</th>
                <th>ZIP файлы</th>
                <th>XLSX файлы</th>
                <th>Папки</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".json" in item %}
                                <li>{{ item }} <a href="{{ url_for('admin_blueprint.report_log' , user_id=user_id, path=report_data + '/' + item) }}">Открыть файл</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".csv" in item or ".txt" in item or ".log" in item %}
                                <li>{{ item }} <a href="{{ url_to_API }}/download-any-file/{{ admin_key }}/{{ user_id + '/' + report_data + '/' + item }}">Скачать</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".zip" in item %}
                                <li>{{ item }} <a href="{{ url_to_API }}/download-any-file/{{ admin_key }}/{{ user_id + '/' + report_data + '/' + item }}">Скачать</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".xlsx" in item %}
                                <li>{{ item }} <a href="{{ url_to_API }}/download-any-file/{{ admin_key }}/{{ user_id + '/' + report_data + '/' + item }}">Скачать</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in data %}
                            {% if ".json" not in item and ".csv" not in item and ".txt" not in item and ".log" not in item and ".zip" not in item and ".xlsx" not in item %}
                                <li>{{ item }} <a href="{{ url_for('admin_blueprint.report_log' , user_id=user_id, path=report_data + '/' + item) }}">Открыть</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    {% elif ".json" in report_data %}
        {% if "download" in report_data %}
            {% if "initial" in report_data %}
                <ul>
                    <li><strong>Client ID:</strong> {{ data.client_id }}</li>
                    <li><strong>Client Secret:</strong> {{ data.client_secret }}</li>
                    <li><strong>Files Path (Client):</strong> {{ data.files_path_client }}</li>
                    <li><strong>Files Path (Report):</strong> {{ data.files_path_report }}</li>
                    <li><strong>Files Path (Report Stat):</strong> {{ data.files_path_report_stat }}</li>
                    <li><strong>Created New Folder (Client):</strong> {{ data.created_new_folder_client }}</li>
                    <li><strong>Create New Folder (Report):</strong> {{ data.create_new_folder_report }}</li>
                    <li><strong>Create New Folder (Report Stat):</strong> {{ data.create_new_folder_report_stat }}</li>
                    <li><strong>Date:</strong> {{ data.date }}</li>
                    <li><strong>Date From:</strong> {{ data.date_from }}</li>
                    <li><strong>Date To:</strong> {{ data.date_to }}</li>
                    <li><strong>UUID GET START TIME:</strong> {{ data.UUID_GET_START_TIME }}</li>
                    <li><strong>DOWNLOADER LOOP TIME:</strong> {{ data.DOWNLOADER_LOOP_TIME }}</li>
                    <li><strong>UUID STATUS TIMER:</strong> {{ data.UUID_STATUS_TIMER }}</li>
                    <li><strong>ATTEMPT TO GET UUID:</strong> {{ data.ATTEMPT_TO_GET_UUID }}</li>
                </ul>
            {% elif "token" in report_data %}
                <p><strong>Succeeded:</strong> {{ data.succeeded }}</p>
                <p><strong>Error Text:</strong> {{ data.error_text }}</p>
                <p><strong>Token:</strong> {{ data.token }}</p>
                <p><strong>Time:</strong> {{ data.time }}</p>
            {% else %}
                    {% for item in data %}
                        <p style="font-family: Arial; font-size: 20px;">{{ item }} > </p> {{ data[item] }}<br><br>
                    {% endfor %}
            {% endif %}
        {% else %}
                {% for item in data %}
                    <p style="font-family: Arial; font-size: 20px;">{{ item }} > </p> {{ data[item] }} <br><br>
                {% endfor %}
        {% endif %}
    {% endif %}
</body>


</html>