<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<P>Id пользователя: {{ user_id }} <br> Дата отчета: {{ report_data }} </P>
{% if ".json" not in report_data %}
    {% for item in data %}
        {% if ".json" in item %}
            <p>{{ item }} <a href="{{ url_for('admin_blueprint.report_log' , user_id=user_id, report_data=report_data + '*' + item) }}">скачать</a></p>
        {% elif ".csv" in item %}
            <p>{{ item}}</p>
        {% elif ".txt" in item %}
            <p>{{ item}}</p>
        {% elif ".zip" in item %}
            <p>{{ item}}</p>
        {% elif ".log" in item %}
            <p>{{ item}}</p>
        {% else %}
            <p>{{ item }} <a href="{{ url_for('admin_blueprint.report_log' , user_id=user_id, report_data=report_data + '*' + item) }}">добавить в текущую ссылку</a></p>
        {% endif %}
    {% endfor %}
{% elif ".json" in report_data %}
    {% for key, value in data.items() recursive %}
    {% if loop.last %}
        <p>{{ value }}</p>
    {% elif value == True or value == False %}

    {% else %}
        <p>{{ key }}: {{ loop(value.items()) }}</p>
    {% endif %}
{% endfor %}
{% endif %}

</body>
</html>