{% extends "base.html" %}

{% block title %}Редактирование профиля{% endblock %}


{% block content %}
<div class="content">
    <section class="profile-section">
        <form action="{{ url_for('profile_blueprint.profile_page') }}" method="post" class="profile-form">
            <div class="form-label">Редактирование профиля</div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                <div class="error">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="info-label">Информация профиля</div>
            <div class="profile-info">
                <div class="form-group">
                    <div class="info-label">E-mail:</div>
                    <input type="email" name="email" value="{{ user.email }}" placeholder="Введите ваш e-mail"
                        class="info-input">
                </div>

                <div class="form-group">
                    <div class="info-label">Тип аккаунта:</div>
                    {% if user.account_type == "admin"%}
                    <div class="info-value">Администратор</div>
                    {% else %}
                    <div class="info-value">Пользователь</div>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="info-label">Seller info</div>
            <div class="profile-info">
                <div class="form-group">
                    <div class="info-label">Client ID:</div>
                    <input type="text" name="client_id_seller" placeholder="Введите Seller Client ID"
                        value="{{ keys.client_id_seller }}" class="info-input">
                </div>
                <div class="form-group">
                    <div class="info-label">API key:</div>
                    <input type="text" name="api_seller" placeholder="Введите Seller API key"
                        value="{{ keys.api_key_seller }}" class="info-input">
                </div>

            </div>
            <br>
            <div class="info-label">Performance info</div>
            <div class="profile-info">
                <div class="form-group">
                    <div class="info-label">Client ID:</div>
                    <input type="text" name="client_id_performance" placeholder="Введите Performance Client ID"
                        value="{{ keys.client_id_performance }}" class="info-input">
                </div>
                <div class="form-group">
                    <div class="info-label">Client Secret:</div>
                    <input type="text" name="api_performance" placeholder="Введите Performance Client Secret"
                        value="{{ keys.api_key_performance }}" class="info-input">
                </div>

            </div>
            <!--            <div class="profile-info">-->
            <!--                <div class="form-group">-->
            <!--                    <div class="info-label">Количество запросов:</div>-->
            <!--                    <div class="info-value">{{ req_c.request_count }}</div>-->
            <!--                </div>-->
            <!--            </div>-->

            <button type="submit" class="btn-submit">Сохранить изменения</button>
        </form>
    </section>
    <div class="filler"></div>
</div>

{% endblock %}