{% extends "base.html" %}

{% block title %}История запросов{% endblock %}


{% block content %}

<main class="main-content">
    <table class="reports-table">
        <thead>
        <tr>
            <th>Дата запроса</th>
            <th>Дата с</th>
            <th>Дата по</th>
            <th>Статус</th>
            <th>Скачать</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ report.date_create }}</td>
            <td>{{ report.date_from }}</td>
            <td>{{ report.date_to }}</td>
            <td>{{ report.status }}</td>
            <td>
                <form action="{{ URL }}/download-report/{{ report.email }}/{{ report.id }}">
                    <input type="submit" value="Скачать">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}
