{% extends "base.html" %}

{% block title %}История запросов{% endblock %}


{% block content %}
<div class=block id="reports">
    <div class="shops-title">
        <div class="shops-label">История</div>
        <a href="{{ url_for('profile_blueprint.history_page') }}">
        </a>
    </div>
    <div class="table-title">
        <div class="field"><b>Дата запроса</b></div>
        <div class="field"><b>Дата с</b></div>
        <div class="field"><b>Дата по</b></div>
        <div class="field"><b>Статус</b></div>
        <div class="field"></div>
    </div>
    <div class="table">
        {% for report in reports %}
        <div class="table-row">
            <div class="field">{{ report.date_create }}</div>
            <div class="field">{{ report.date_from }}</div>
            <div class="field">{{ report.date_to }}</div>
            <div class="field">
                {% if report.status == 'need_to_process' %}
                <div class="in-progress">В процессе</div>
                {% elif report.status == 'ready_to_download' %}
                <div class="successful">Успешно</div>
                {% elif report.status == 'some_error' %}
                <div class="outdated">Ошибка</div>
                {% endif %}
            </div>
            <div class="download-field">
                {% if report.status == 'ready_to_download' %}
                <a href="{{ URL }}/download-report/{{ report.email }}/{{ report.id }}" class="download-button">
                    <img src="{{ url_for('static', filename='images/download.svg') }}"> Скачать
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}