{% extends "unregistered_base.html" %}

{% block title %}Вход{% endblock %}


{% block content %}


<section class="form-block">
    <form class="contact-form" method="post" action="{{ url_for('login_blueprint.login_page') }}">
        <div class="form-label">Авторизация</div>
        <div class="form-group">
            <div class="input-wrapper">
                <label for="email">Ваша почта</label>
                <input type="text" id="login-username" name="email" placeholder="Введите e-mail" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-wrapper">
                <label for="login-password">Пароль</label>
                <div class="password-box">
                    <input type="password" id="login-password" name="password" placeholder="Введите пароль" required>
                    <img id="hide-password" src="{{ url_for('static', filename='images/eye.svg') }}">
                </div>
            </div>
            <div class="login-utils">
                <div class="remember-me">
                    <input type="checkbox" id="remember-check" name="remember-check" value="no">
                    <label for="remember-check">Запомнить меня</label>
                </div>
                <a class="forgot-pwd" href="{{ url_for('reset_blueprint.reset_password_page') }}">Забыли пароль?</a>
            </div>
        </div>
        <button type="submit" class="btn-submit">Войти</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
        {% for message in messages %}
        <div class="error">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</section>
<div class="to-register-footer">
    У вас ещё нет аккаунта?
    <a class="to-register" href="{{ url_for('login_blueprint.register') }}">Зарегистрироваться</a>
</div>
<script src="{{ url_for('static', filename='scripts/login_hide.js') }}"></script>
{% endblock %}