{% extends "base.html" %}

{% block title %}Главная{% endblock %}


{% block content %}

<div class="content">
    <div class=block id="shops">
        <div class="shops-title">
            <div class="shops-label">Мои магазины</div>
            <button class="to-shops" href="/shops/" disabled>Все магазины</button>
        </div>
        <div class="shops-belt" id="scroll-hook">
            {% for i in range(10) %}
            <div class="shop">
                <div class="shop-logo">
                    <img src="{{ url_for('static', filename='images/shop.png') }}">
                </div>
                <div class="api-info">
                    <div class=toleft>API</div>
                    <div class="toright-wrapper">
                        <img src="{{ url_for('static', filename='images/flash.svg') }}">
                        <div class="enabled-toright">Активен
                        </div>
                    </div>
                </div>
                <a class="shop-link" href="https://www.mi.com/ru/">
                    <div class="toleft"><b>Xiaomi</b></div>
                    <div class="toright"><img src="{{ url_for('static', filename='images/export.svg') }}"></div>
                </a>
            </div>
            <div class="shop">
                <div class="shop-logo">
                    <img src="{{ url_for('static', filename='images/shop.png') }}">
                </div>
                <div class="api-info">
                    <div class=toleft>API</div>
                    <div class="toright-wrapper">
                        <img src="{{ url_for('static', filename='images/disabled.svg') }}">
                        <div class=disabled-toright>Отключен
                        </div>
                    </div>
                </div>
                <a class="shop-link" href="https://www.mi.com/ru/">
                    <div class="toleft"><b>Xiaomi</b></div>
                    <div class="toright"><img src="{{ url_for('static', filename='images/export.svg') }}"></div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>

    <div class=block id="reports">
        <div class="shops-title">
            <div class="shops-label">Последние отчёты</div>
            <a href="{{ url_for('profile_blueprint.history_page') }}">
                <div class="to-reports">Все отчёты</div>
            </a>
        </div>
        <div class="table">
            <div class="table-title">
                <div class="field"><b>Дата запроса</b></div>
                <div class="field"><b>Дата с</b></div>
                <div class="field"><b>Дата по</b></div>
                <div class="field"><b>Статус</b></div>
                <div class="field"></div>
            </div>
            {% for report in reports %}
            <div class="table-row">
                <div class="field">{{ report.date_create }}</div>
                <div class="field">{{ report.date_from }}</div>
                <div class="field">{{ report.date_to }}</div>
                <div class="field">
                    {% if report.status == 'need_to_process' %}
                    <div class="in-progress">В процессе</div>
                    {% elif report.status == 'ready_to_download' %}
                    <div class="successful">Успешно</div>
                    {% elif report.status == 'some_error' %}
                    <div class="outdated">Ошибка</div>
                    {% endif %}
                </div>
                <div class="download-field">
                    {% if report.status == 'ready_to_download' %}
                    <a href="{{ URL }}/download-report/{{ report.email }}/{{ report.id }}" class="download-button">
                        <img src="{{ url_for('static', filename='images/download.svg') }}"> Скачать
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="block" id="banner">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="card">
        <img src="{{ url_for('static', filename='images/Banner-Card.svg') }}">
    </a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="card">
        <img src="{{ url_for('static', filename='images/Banner-Card.svg') }}">
    </a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="card">
        <img src="{{ url_for('static', filename='images/Banner-Card.svg') }}">
    </a>
</div>

{% endblock %}