{% extends "payments_base.html" %}


{% block content %}

<form class="payment-form" action="{{url_for('payment_blueprint.payment_page')}}" method="post" name="payment-form">
    <div class="info-bar">
        <div class="current-plan-wrapper">
            <div class="your-plan-label">Ваш тарифный план</div>
            <b>
                <div class="your-plan-name" id="backend-info-plan">Бизнес</div>
            </b>
        </div>
        <!-- <img src="{{ url_for('static', filename='images/rounds1.svg') }}"> -->
        <div class="info-wrapper">
            <div class="info-label">Запросов в сутки <div class="info-count">
                    <div id="backend-info-requests">918</div><div id="backend-info-requests-max">/1200</div>
                </div>
            </div>
            <div class="info-label">Магазинов подключено<div class="info-count">
                    <div id="backend-info-shops">1</div><div id="backend-info-shops-max">/2</div>
                </div>
            </div>
        </div>
        <div class="info-wrapper">
            <div class="info-label">Оплачено до<div class="info-count" id="info-paid-to-date">12.08.2024 16:21</div>
            </div>
            <div class="info-label">Автопродление<div class="info-count" id="is_autopay_on">Включено</div>
            </div>
        </div>
    </div>

    <div class="payment-block">
        <div class="plan-pick-label">Выбрать тариф</div>
        <div class="plans-wrapper">
            <div class="plan-start">
                <div class="plan-start-title">
                    <div>Старт</div>
                    <div class="price-wrapper">
                        <div>3 990</div>
                        <div class="rouble">₽</div>
                        <div class="start-gray-m">/мес</div>
                    </div>
                </div>
                <div class="start-option-bar">
                    <div class="option-wrapper">
                        <img src="{{ url_for('static', filename='images/check.svg') }}">
                        <div class="start-option-text">Возможность создания отчётов за 1 прошлый день</div>
                    </div>
                </div>
                <div class="start-option-bar">
                    <div class="option-wrapper">
                        <img src="{{ url_for('static', filename='images/check.svg') }}">
                        <div class="start-option-text">5000 запросов в сутки</div>
                    </div>
                </div>
                <label for="plan-start" class="radio-button"><input type="radio" value="3990" name="plan-type" form="payment-form" class="start-option-bar" id="plan-start">Выбрать</label>
            </div>

            <div class="plan-business">
                <div class="plan-business-title">
                    <div class="plan-business-label">Бизнес</div>
                    <div class="price-wrapper">
                        <div class="plan-business-price">4 990</div>
                        <div class="rouble">₽</div>
                        <div class="business-gray-m">/мес</div>
                    </div>
                </div>
                <div class="business-option-bar">
                    <div class="option-wrapper">
                        <img src="{{ url_for('static', filename='images/w-check.svg') }}">
                        <div class="business-option-text">Возможность создания отчётов за последние 60 дней</div>
                    </div>
                </div>
                <div class="business-option-bar">

                    <div class="option-wrapper">
                        <img src="{{ url_for('static', filename='images/w-check.svg') }}">
                        <div class="business-option-text">5000 запросов в сутки</div>
                    </div>
                </div>
                <label for="plan-busines" class="radio-button"><input checked type="radio" value="4990" name="plan-type" form="payment-form" class="business-option-bar" id="plan-busines">Выбрать</label>
            </div>
        </div>
    </div>
    <div class="additions-block">
        <div class="additions-label">Дополнительно
            <div class="autopay">Автопродление
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        <div class="additions-wrapper">
            <div class="shops-quantity">
                <div class="quantity-title">
                    <b>
                        <div class="addition-title">Магазины</div>
                    </b>
                    <div class="current-wrapper">
                        <div class="current-shops">
                            <div>В настоящий момент вы используете:</div>
                            <div class="current-in-use" id="backend-info-shops">2</div>
                        </div>
                    </div>
                </div>
                <div class="picker-wrapper">
                    <input placeholder=3 type="range" id="shops-pick" min="1" max="4" value=3 step=1>
                    <b>
                        <div class="current-in-use-wrapper">
                            <div class="current-in-use" id="shops-node">3</div><div id="shops-node-label">магазина</div>
                        </div>
                    </b>
                </div>
            </div>

            <div class="months-quantity">
                <div class="quantity-title">
                    <b>
                        <div class="addition-title">Оплачиваемые месяцы</div>
                    </b>
                    <div class="current-wrapper">
                        <div>Скидка 15% при оплате тарифа на 6 месяцев</div>
                        <div>Скидка 25% при оплате тарифа на год</div>
                    </div>
                </div>
                <div class="picker-wrapper">
                    <input placeholder=3 type="range" id="months-pick" min="1" max="12" value=8 step=1>
                    <b>
                        <div class="current-in-use-wrapper">
                            <div class="current-in-use" id="months-node">8</div><div id="months-node-label">месяцев</div>
                        </div>
                    </b>
                </div>
            </div>
        </div>
    </div>

    <div class="payment-block">
        <div class="summary-plan-label">Тариф к оплате</div>

        <div class="summary">
            <div class="summary-to-payment">
                <div class="summary-options">
                    <div class="summary-option"><img src="{{ url_for('static', filename='images/check.svg') }}"><div id="chosen-plan">Тариф
                        Бизнес</div>
                    </div>
                    <div class="summary-option"><img src="{{ url_for('static', filename='images/check.svg') }}"><div id="shops-total">3 доп. магазина</div>
                    </div>
                    <div class="summary-option"><img src="{{ url_for('static', filename='images/check.svg') }}"><div id="months-total">8 месяцев</div>
                    </div>
                </div>
                <form class="promo-field" name="promo" method="post" action=""> <!-- ???? -->
                    <div class="promo-block">
                        <div class="promo-label">Промокод</div>
                        <div class="promo-wrapper">
                            <input type="text" placeholder="Введите промокод">
                            <button type="submit" form="promo">Активировать</button>
                        </div>
                    </div>
                </form>
                <div class="to-payment-wrapper">
                    <div class="total-wrapper">
                        <div class="total-label">К оплате</div>
                        <div class="price-wrapper">
                            <div id="checkout">4 990</div>
                            <div class="rouble">₽</div>
                            <div class="start-gray-m">/мес</div>
                        </div>
                    </div>
                    <button type="submit" form="payment-form">Оплатить</button>
                </div>
            </div>
            <div class="summary-to-smm-wrapper">
                <div class="summary-to-smm">
                    <div class="smm-label-bold">Проблемы с оплатой или возник вопрос?</div>
                    <div class="smm-label">Напишите нам в мессенджер или оставьте заявку</div>
                    <div class="smm">
                        <a class="smm-option" href="https://web.telegram.org/"><img
                                src="{{ url_for('static', filename='images/telegram.svg')}}">Telegram</a>
                        <a class="smm-option" href="https://www.instagram.com/"><img
                                src="{{ url_for('static', filename='images/instagram.svg')}}">Instagram*</a>
                        <a class="smm-option" href="{{ url_for('feedback_blueprint.feedback_page') }}">Оставить
                            заявку</a>
                    </div>
                    <a href="ПУБЛИЧНАЯ ОФЕРТА" class="docs">Публичная оферта</a>
                </div>
                <div class="notice">* – Запрещенная организация на территории РФ</div>
            </div>
        </div>
    </div>
</form>
<script src="{{ url_for('static', filename='scripts/payments.js') }}"></script>
{% endblock %}