{% extends "base.html" %}

{% block title %}Профиль{% endblock %}


{% block content %}

<main>
    <section class="profile-section">
        <h1>Профиль</h1>
        <div class="profile-info">
            <div class="info-label">Ваш email:</div>
            <div class="info-value">{{ user.email }}</div>

            <div class="info-label">Seller API:</div>
            <div class="info-value">{{ user.api_key_seller }}</div>

            <div class="info-label">Seller ID:</div>
            <div class="info-value">{{ user.client_id_seller }}</div>

            <div class="info-label">Performance API:</div>
            <div class="info-value">{{ user.api_key_performance }}</div>

            <div class="info-label">Performance ID:</div>
            <div class="info-value">{{ user.client_id_performance }}</div>

            <div class="info-label">Тип аккаунта:</div>
            <div class="info-value">{{ user.account_type }}</div>

            <div class="info-label">Количество запросов:</div>
            <div class="info-value">{{ user.request_count }}</div>
        </div>
        <form action="{{ url_for('profile_blueprint.edit_profile') }}">
            <button class="edit-button">Редактировать</button>
        </form>
    </section>
</main>

{% endblock %}