{% extends "base.html" %}

{% block title %}Профиль{% endblock %}


{% block content %}
<div class="content">
    <section class="profile-section">
        <div class="profile-form">
            <div class="form-label">Профиль</div>
            <div class="info-label">Информация профиля</div>
            <div class="profile-info">
                <div class="form-group">
                    <div class="info-label">E-mail:</div>
                    <div class="info-value">{{ user.email }}</div>
                </div>
                <div class="form-group">
                    <div class="info-label">Тип аккаунта:</div>
                    {% if user.account_type == "admin" %}
                    <a href="{{ url_for('admin_blueprint.admin_page') }}" class="info-value">Администратор</a>
                    {% else %}
                    <div class="info-value">Пользователь</div>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="info-label">Seller info</div>
            <div class="profile-info">
                <div class="form-group">
                    <div class="info-label">Client ID:</div>
                    {% if keys.client_id_seller %}
                    <div class="info-value">{{ keys.client_id_seller }}</div>
                    {% else %}
                    <div class="transp-info-value">Введите Seller Client ID</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="info-label">API key:</div>
                    {% if keys.api_key_seller %}
                    <div class="info-value">{{ keys.api_key_seller }}</div>
                    {% else %}
                    <div class="transp-info-value">Введите Seller API key</div>
                    {% endif %}
                </div>

            </div>
            <br>
            <div class="info-label">Performance info</div>
            <div class="profile-info">
                <div class="form-group">
                    <div class="info-label">Client ID:</div>
                    {% if keys.client_id_performance %}
                    <div class="info-value">{{ keys.client_id_performance }}</div>
                    {% else %}
                    <div class="transp-info-value">Введите Performance Client ID</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="info-label">Client Secret:</div>
                    {% if keys.api_key_performance %}
                    <div class="info-value">{{ keys.api_key_performance }}</div>
                    {% else %}
                    <div class="transp-info-value">Введите Performance Client Secret</div>
                    {% endif %}
                </div>

            </div>
            <!--            <div class="profile-info">-->
            <!--                <div class="form-group">-->
            <!--                    <div class="info-label">Количество запросов:</div>-->
            <!--                    <div class="info-value">{{ req_c.request_count }}</div>-->
            <!--                </div>-->
            <!--            </div>-->
            <form action="{{ url_for('profile_blueprint.edit_profile') }}">
                <button type="submit" class="btn-submit">Редактировать</button>
            </form>
        </div>
    </section>
    <div class="filler"></div>
</div>
{% endblock %}