{% extends "base.html" %}

{% block title %}Запросы{% endblock %}


{% block content %}

<div class="inline-block">
    <div class="block">
        <form class="contact-form" action="{{ url_for('profile_blueprint.query_page') }}" method="post">
            <div class="dates">
                <div class="form-group">
                    <label for="date-from">Дата с</label>
                    <input type="date" id="date-from" class="info-input" name="date-from">
                </div>
                <div class="form-group">
                    <label for="date-to">Дата по</label>
                    <input type="date" id="date-to" class="info-input" name="date-to">
                </div>
                {% with messages = get_flashed_messages() %}
                {% if "Заполните ключи API" not in messages %}
                <button type="submit" class="btn-submit">Запросить отчет</button>
                {% endif %}
            </div>
            {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                <div class="error">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>

    <div class=block id="reports">
        <div class="shops-title">
            <div class="shops-label">История</div>
        </div>
        <div class="table">
            <div class="table-title">
                <div class="field"><b>Дата с</b></div>
                <div class="field"><b>Дата по</b></div>
                <div class="field"><b>Статус</b></div>
            </div>
            {% for request in requests %}
            <div class="table-row">
                <div class="field">{{ request.date_from }}</div>
                <div class="field">{{ request.date_to }}</div>
                <div class="field">
                    {% if request.status == 'need_to_process' %}
                    <div class="in-progress">В процессе</div>
                    {% elif request.status == 'ready_to_download' %}
                    <div class="successful">Успешно</div>
                    {% elif request.status == 'some_error' %}
                    <div class="outdated">Ошибка</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}