{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}


{% block content %}


<main class="main-content">
    <div class="form-container">
        <h1>Сброс Пароля</h1>
        <form action="{{ url_for('reset_blueprint.reset_with_token', token=token) }}" method="POST">
            <div class="form-group">
                <label for="password">Новый пароль</label>
                <input type="password" id="password" name="password" required class="info-input">
            </div>
            <button type="submit" class="btn-submit">Отправить</button>
        </form>
    </div>
</main>

{% endblock %}