{% extends "unregistered_base.html" %}

{% block title %}Сброс пароля{% endblock %}


{% block content %}


<section class="form-block">
    <div class="form-label">Сброс пароля</div>
    <form class="contact-form" action="{{ url_for('reset_blueprint.reset_password_page') }}" method="POST">
        <div class="input-wrapper">
            <label for="email">Электронная почта</label>
            <input type="email" id="email" name="email" placeholder="Введите e-mail" required>
        </div>
        <button type="submit" class="btn-submit">Отправить</button>
    </form>
</section>
<div class="foot">
    <div class="foot-line"> ИП Фамилия Имя Отчество, ИНН 000000000000 / <a href="mailto:partner@mirasell.ru">partner@mirasell.ru</a></div>
    <div class="foot-line" id="gray-out"><a href="ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ">Политика обработки персональных данных</a> / <a href="ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ">Политика конфиденциальности</a></div>
</div>

{% endblock %}