{% extends "unregistered_base.html" %}

{% block title %}Сброс пароля{% endblock %}


{% block content %}



<section class="form-container">
    <div class="form-label">Сброс пароля</div>
    <form action="{{ url_for('reset_blueprint.reset_with_token', token=token) }}" method="POST">
        <div class="input-wrapper">
            <label for="password">Новый пароль</label>
            <input type="password" id="password" name="password" placeholder="Введите новый пароль" required>
        </div>
        <button type="submit" class="btn-submit">Отправить</button>
    </form>
</section>
<div class="foot">
    <div class="foot-line"> ИП Фамилия Имя Отчество, ИНН 000000000000 / <a href="mailto:partner@mirasell.ru">partner@mirasell.ru</a></div>
    <div class="foot-line" id="gray-out"><a href="ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ">Политика обработки персональных данных</a> / <a href="ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ">Политика конфиденциальности</a></div>
</div>

{% endblock %}