@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

::-webkit-scrollbar {
    width: 4px;
    height: 0;
    padding-right: 10px;
    background: #F6F7F9;
    border-radius: 24px;
}

::-webkit-scrollbar-thumb {
    background: #80899C;
    border-radius: 24px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

html,
body {
    background-color: #F6F7F9;
    height: 99vh;
    width: 100vw;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: Rubik;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    gap: 8px;
}

a {
    text-decoration: none;
    color: black;
}

input {
    border: none;
    resize: none;
    background-color: #F6F7F9;
    border-radius: 16px;
    padding: 12px 16px 12px 16px;
}

input::placeholder {
    opacity: 0.4;
    color: #80899C;
}


.top-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 12px;
    padding-bottom: 0;
    height: 98%;
    box-sizing: border-box;
    gap: 8px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    background-color: #F6F7F9;
    justify-content: space-between;
    border-radius: 16px;
    padding: 4px;
    gap: 4px;
    box-sizing: border-box;
}

.sidebar-menu img {
    padding: 0 10px 0 0;
    size: 20px 20px;
}

.list-item {
    display: flex;
    margin: auto 0;
    overflow: hidden;
    padding: 8px 12px;
    border-radius: 12px;
}

.list-icon {
    margin: auto 0;
}

.list-item:hover {
    background-color: #FFFFFF;
}

.list-item a:hover {
    color: #0937C3;
}


.block {
    justify-content: space-between;
    border-radius: 24px;
    background-color: #FFFFFF;
}

.inline-block {
    background-color: #F6F7F9;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    flex: 1;
    padding: 8px;
    gap: 12px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 4px 0;
    width: 65%;
    flex: 1;
    gap: 8px;
}

.profile {
    display: flex;
}

.profile:hover {
    background-color: #F6F7F9;
    border-radius: 12px;
}

.profile img {
    border-radius: 42px;
    padding: 12px;
    height: 40px;
    width: 40px;
}

.user-info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.user-info:hover {
    color: #0937C3;
}

.name {
    height: 35px;
    line-height: 45px;
}

.table {
    background-color: #F6F7F9;
    border-radius: 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    flex: 1 1 auto;
    max-width: 100%;
}

.table-title {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    height: 40px;
    padding-left: 10px;
}

.table-row {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 50px;
    padding: 10px 0;
    border-radius: 12px;
}

.table-row-panel {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 50px;
    padding: 10px 0;
    border-radius: 12px;
}

.field {
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 0 12px;
}

.shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F6F7F9;
    border-radius: 16px;
    flex: 1 0 20%;
    height: 100%;
    padding: 4px;
    gap: 4px;
    box-sizing: border-box;
}

.shop-logo {
    min-height: 30%;
    background-color: #FFFFFF;
    border-radius: 14px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
}

.shop-logo img {
    max-width: 50%;
    margin: auto 0;
}

.shops-title {
    display: flex;
    padding-left: 12px;
    justify-content: space-between;
}

.shops-label {
    display: flex;
    flex: 1 1 auto;
    font-size: 20px;
    line-height: 25px;
    margin: auto 0;
}

.to-reports {
    float: right;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 12px;
    background-color: #F5F7FF;
    text-align: center;
    color: #0937C3;
}

.to-shops {
    border: none;
    /* cursor: pointer; */
    float: right;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 12px;
    background-color: #F5F7FF;
    text-align: center;
    color: #0937C3;
}

.shop-link {
    margin: auto 0;
    min-height: 18%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    flex-grow: 1;
    border-radius: 14px;
    padding: 4%;
    box-sizing: border-box;
}

.shop-link b:hover {
    color: #0937C3;
}

.shops-belt {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    transform-origin: right top;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.api-info {
    min-height: 18%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    flex-grow: 1;
    border-radius: 14px;
    padding: 4%;
    box-sizing: border-box;
}

.toleft {
    margin: auto 0;
}

.toright {
    margin: auto 0;
}

.toright-wrapper {
    display: flex;

}

.enabled-toright {
    color: #30B900;
    margin: auto 0;
}

.disabled-toright {
    color: #FE4A23;
    margin: auto 0;
    justify-content: end;
}

.download-field {
    margin: auto;
    display: flex;
    width: 20%;
    padding: 0 12px;
}

.download-button {
    justify-content: space-between;
    margin: auto 0;
    border-radius: 12px;
    padding: 2% 10%;
    background-color: #F5F7FF;
    color: #0937C3;
    box-sizing: border-box;
}

.download-button:hover {
    color: #d3dfff;
    background-color: #F5F7FF;
}

.download-button img {
    vertical-align: middle;
}

.status-popup {
    background-color: #F5F7FF;
    width: 98px;
    height: 28px;
    padding: 4px, 10px, 4px, 10px;
    border-radius: 10px;
    gap: 10px;

}

.in-progress {
    background-color: #F5F7FF;
    color: #0937C3;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
}

.form-label {
    font-size: 20px;
    line-height: 28px;
    justify-content: left;
}

.profile-section {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 16px 12px;
    border-radius: 24px;
    gap: 4px;
    box-sizing: border-box;
}

.profile-form {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.profile-info {
    display: flex;
    width: 100%;
    gap: 12px;
}

.search {
    display: flex;
    width: 100%;
    gap: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.info-label {
    color: #2D3139;
}

.info-input {
    background-color: #F6F7F9;
    border-radius: 16px;
    padding: 14px 18px;
    border: none;
}


.info-value {
    background-color: #F6F7F9;
    border-radius: 16px;
    padding: 12px 16px;
}

.transp-info-value {
    background-color: #F6F7F9;
    border-radius: 16px;
    padding: 12px 16px 12px 16px;
    gap: 8px;
    color: #80899C;
}

.btn-submit {
    border: none;
    background-color: #3B6AF6;
    color: #FFFFFF;
    border-radius: 16px;
    padding: 12px 16px 12px 16px;
    width: 15%;
}

.btn-submit:hover {
    border: 2px #3B6AF6;
    background-color: #0937C3;
}

.delete-button {
    border: none;
    background-color: #d9534f;
    color: #FFFFFF;
    border-radius: 16px;
    padding: 12px 16px 12px 16px;
    width: 15%;
}

.delete-button:hover {
    border: 2px black;
    background-color: red;
}

.history-search {
    display: flex;
    gap: 12px;
}

.successful {
    background-color: #EBFBE5;
    color: #30B900;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
}

.flashes {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    margin: auto;
    padding-bottom: 8px;
}

.outdated {
    background-color: #FFEDE9;
    color: #FE4A23;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
}

#upper-menu {
    height: 45%;
    box-sizing: border-box;
}

#middle-menu {
    height: 55%;
    box-sizing: border-box;
}

#bottom-menu {
    justify-content: flex-end;
}

#reports {
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    padding: 8px 12px;
    box-sizing: border-box;
    flex: 1 1 auto;
    gap:12px;
}

#shops {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}

#left-navbar {
    width: 20%;
    height: 99%;
    margin: 4px 0;
}

#banner {
    display: flex;
    flex-direction: column;
    margin: 4px 0 -20px 0;
    flex: 1 1 auto;
    justify-content: flex-start;
    background: #F6F7F9;
    gap: 12px;
    height: 100%;
    max-width: 23%;
    box-sizing: border-box;
}

#search {
    margin-top: 4px;
    display: flex;
    flex: 1 1 auto;
}

#panel {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8px;
    flex: 1 1 auto;
}

#panel-table {
    flex: 1 1 auto;
}

#user_reports {
    height: 65%;
}

#date-query {
    width: 20%;
    margin-left: 4px;
}

.filler {
    display: flex;
    flex: 1 1 auto;

}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
}

.dates {
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}