@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html,
body {
    background-color: #F6F7F9;
    justify-content: center;
    height: 98vh;
    width: 100vw;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    gap: 8px;
    overflow: hidden;
    scrollbar-width: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #F6F7F9 inset;
    /* можно изменить на любой вариант цвета */
    -webkit-text-fill-color: #80899C;
}

::-webkit-scrollbar {
    width: 4px;
    padding-right: 10px;
    background: #FFFFFF;
    border-radius: 24px;
}

::-webkit-scrollbar-thumb {
    background: #80899C;
    border-radius: 24px;
}

input:active,
textarea:active {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.btn-submit {
    border: none;
    background-color: #3B6AF6;
    color: #FFFFFF;
    border-radius: 16px;
    padding: 12px 16px 12px 16px;
}

.btn-submit:hover {
    border: 2px #3B6AF6;
    background-color: #0937C3;
}

input,
textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: #F6F7F9;
    border-radius: 16px;
    padding: 12px 16px 12px 16px;
}

textarea::placeholder,
input::placeholder {
    opacity: 0.4;
    color: #80899C;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.form-block {
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 24px 24px 24px;
    width: 35%;
}

.passwords {
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.login-utils {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

.remember-me label {
    padding-left: 20px
}

.remember-me label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 6px;
    border: 1px solid #E2E4E9;
    box-shadow: 0px 2px 4px 0px #00000014;
}

input[type="checkbox"]:checked+label::before {
    content: '';
    background-size: 100%;
    background-color: #3B6AF6;
    background-image: url(../images/checked.svg);
}

.flashes {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    margin: auto;
}

.to-register-footer {
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.to-register {
    color: #0937C3;
    padding-left: 12px;
}

.remember-me {
    display: flex;
    gap: 4px;
    margin: auto 0;
    flex-grow: 1;
}

.forgot-pwd {
    color: #0937C3;
    justify-content: flex-end;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.policy-link {
    color: #0937C3;
}

.form-label {
    font-size: 36px;
    line-height: 48px;
    margin: auto;
}

#logo {
    overflow: hidden;
    height: 150px;
    width: 300px;
    color: #072A92;
    margin: 4px auto;
}

#logo img {
    width: 100%;
    height: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
}

.counter {
    text-align: right;
    color: #596173;
}

.password-box {
    width: 95%;
    background-color: #F6F7F9;
    display: flex;
    align-items: center;
    padding: 0 10px 0 15px;
    margin: auto 0;
    border-radius: 16px;
}

.password-box input {
    border-radius: 16px;
    width: 100%;
    padding: 12px 0;
    border: none;
    outline: none;
}

.password-box img {
    size: 20px 20px;
    cursor: pointer;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}